{$SITE_ADDRESS::80} {
	encode zstd gzip

	@backend path /api/* /docs* /redoc* /openapi.json
	handle @backend {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:3000
	}

	header {
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "DENY"
		-Server
	}
}
